fastapi
uvicorn[standard]
sqlalchemy
alembic
sqlalchemy-utils
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic
python-multipart
pydantic[email]
aiokafka
fastapi-mail==1.4.1
jinja2==3.1.2
pydantic-settings==2.1.0